.energy-bar-wrapper {
    transition: 0.3s;
    border-radius: 8px;
    position: absolute;
}

.energy-bar-wrapper span {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.energy-bar {
    height: 30px;
    width: 100px;
    background: black;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
}

.energy-bar-text {
    position: absolute;
    color: white;
    line-height: 30px;
    padding-left: 4px;
}

.energy-bar-background {
    background-color: green;
    height: 100%;
    width: 100%;
    transition: 2s;
}

.energy-bar-wrapper {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    right: 120%;
    top: 100%;
    transform: translateX(-5px);
    background-color: #00000088;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;
    color: white;
    white-space: nowrap;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 10;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 30%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #00000088;
}

.energy-bar-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}