* {
    font-family: 'Titan One', cursive;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background: black;
    width: 550px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    position: relative;
}

button {
    transition: .3s;
}

article {
    display: none;
    text-align: justify;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 2rem;
    font-size: 0.8rem;
}

#game-wrapper {
    align-self: center;
    margin: 0 auto;
}

#background {
    background-image: url("../images_schoolfight/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.hidden-buttons .buttons-wrapper {
    display: none !important;
}

.sprite-container div:hover img,
.sprite-container div.selected img {
    filter: brightness(0.5) sepia(1) saturate(100%);
}

#trophy-messages-container {
    display: flex;
    gap: 8px;
    flex-direction: column-reverse;
    align-items: flex-end;
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin-bottom: 8px;
}

.trophy-message {
    display: none;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    background: rgb(0, 0, 0, .6);
    width: 160px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 4px;
    font-size: 12px!important;
    margin-right: -180px;
    transition: all 0.3s linear;
}

.trophy-message .trophy-icon-wrapper {
    margin: 8px;
}

#trophies {
    display: none;
    background: rgb(0, 0, 0, .5);
    padding: 8px 8px 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 80%;
    margin: 8px auto;
    height: 274px;
}

#trophies h2 {
    text-align: center;
    margin: 8px;
}

.trophies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-top: 16px;
}

.trophy {
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    font-size: 14px
}

.trophy-icon-wrapper {
    background: orange;
    width: 20px;
    padding: 8px;
    border-radius: 50%;
    margin: 8px auto;
}

.trophy.not-received {
    opacity: 0.6;
}

.trophy.not-received .trophy-icon-wrapper {
    background: white;
}

.left-party.defeated,
#box.defeated,
#girl-left.defeated {
    filter: brightness(0.5) sepia(1) saturate(10000%);
    /*transform: scaleX(-1) rotate(90deg) !important;*/
    animation: kickoutCharacters1 1s forwards;
}

.right-party.defeated,
#girl-right.defeated,
#enemy-running.defeated {
    filter: brightness(0.5) sepia(1) saturate(10000%);
    animation: kickoutCharacters2 1s forwards;
}

.sprite-container div button {
    display: inline-block;
    background-color: orange;
    border: none;
    font-size: 2rem;
    color: white;
    z-index: 1;
    width: 60px;
    height: 50px;
    opacity: .95;
    margin: 1px;
    transition: all 0.3s;
}

.sprite-container button {
    display: none;
    background: rgb(0, 0, 0, .2);
    font-size: 1rem;
    color: white;
    z-index: 10;
    width: 60px;
    height: 50px;
    opacity: .8;
}

.sprite-container.open .buttons-wrapper {
    display: inline-block;
}

.buttons-wrapper {
    background: rgb(0,0,0,0.6);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
    border-radius: 8px;
    padding: 4px 8px;
    display: none;
    width: 124px;
    transform: translateY(-10px);
    position: absolute;
    top: -136px;
    left: -38px;
    font-size: 0;
}

.buttons-wrapper:after {
    content: '';
    display: block;
    margin: 4px auto 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

.buttons-wrapper:before {
    content: 'Choose action';
    font-size: 12px;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 4px;
}

#title {
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
}



#title-button {
    position: absolute;
    width: 200px;
    left: 0;
    right:0;
    margin: 0 auto;
    top: 40%;
    padding: 16px 0;
    background: orange;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 2px solid white;
    border-radius: 8px;
}

#how-to-play-button {
    position: absolute;
    width: 200px;
    left: 65px;
    top: 60%;
    padding: 16px 0;
    background: rgba(250,250,250,0.9);
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#trophies-button {
    position: absolute;
    width: 200px;
    left: 285px;
    top: 60%;
    padding: 16px 0;
    background: rgba(250,250,250,0.9);
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#vendetta-button {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 80%;
    padding: 16px 0;
    background: orange;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#tutorial-screen {
    background: rgb(0, 0, 0, .5);
    padding: 8px 8px 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 80%;
    margin: 8px auto;
    height: 274px;
}

#tutorial-screen h2 {
    text-align: center;
    margin-top: 2px;
}

#tutorial-screen i {
    color: orange;
}

#tutorial-screen p {
    font-size: 12px;
    color: white;
}

#back-button, #back-button-trophies, #toggle-tutorial-button {
    background: none;
    color: white;
    position: absolute;
    bottom: 12px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
    width: 180px;
    display: block;
    transition: .3s;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#toggle-tutorial-button {
    right: 56px;
}

#back-button:hover, #back-button-trophies:hover, #toggle-tutorial-button:hover {
    background: white;
    color: black;
    transform: scale(1.1);
    text-shadow: none;
}

#title-button:hover,
#how-to-play-button:hover,
#trophies-button:hover,
.add-button:hover,
#vendetta-button:hover {
    background: rgb(255, 123, 0);
    color: white;
    transform: scale(1.1);
}

#select-screen,
#select-screen2,
#select-screen3 {
    position: absolute;
    top: 40px;
    left: 38px;
    display: none;
    grid-template-columns: 146px 146px 146px;
    grid-template-rows: 100px 140px;
    gap: 10px;
    background: rgb(0, 0, 0, .5);
    padding: 8px 8px 2px;
    color: white;
    border-radius: 12px;
}

#select-screen2,
#select-screen3 {
    display: none;
}

#unlockables-message {
    position: absolute;
    top: 28%;
    text-align: center;
    font-size: 24px;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#unlockables-message .fas {
    color: orange;
    font-size: 36px;
}

#tutorial-screen {
    display: none;
    border-radius: 12px;
}

.tutorial-info {
    position: absolute;
    width: 130px;
    height: 50px;
    padding-top: 60px;
    opacity: 0;
    border: 4px solid orange;
    border-radius: 8px;
    animation: toggleTutorialSteps 12s infinite;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.tutorial-info div {
    padding: 4px;
}

.selectscreen-button {
    position: absolute;
    top: 30%;
    height: 40%;
    width: 30px;
    background: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

#next-button,
#refresh-button {
    border: 2px solid white;
    position: absolute;
    width: 140px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 90%;
    background: orange;
    color: white;
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
    z-index: 99;
}

#next-button:hover,
#refresh-button:hover,
.selectscreen-button:hover {
    transform: scale(1.1);
}

.buttons-char:focus {
    opacity: 1;
    color: orange;
    background: rgb(0, 0, 0, 1);
}

.buttons-char:focus span {
    color: orange;
}

.buttons-char i {
    position: relative;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttons-char span {
    position: absolute;
    top: -9px;
    right: -10px;
    font-size: 12px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.left-button {
    left: -34px;
border: 2px solid black;
}

.right-button {
    right: -34px;
    border: 2px solid black;
}

.desc-box {
    font-size: .9em;
    line-height: 1.4em;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
}

.energybar,
.sprite-container,
#select-screen,
#title-select {
    display: none;
    transition: .3s;
}

#title-select {
    z-index: 9;
}

.energybar {
    border-radius: 8px;
}

.energybar span,
.add-button {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.energybar,
#next-button,
#title-button {
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.sprite-container {
    position: absolute;
    width: 60px;
    height: 100px;
}

.sprite-container:hover,
.sprite-container:focus-within {
    width: 300px;
}

.sprite-container div button:first-of-type {
    top: 0;
}

.sprite-container div button:nth-of-type(2) {
    top: 50px;
}

.sprite-container.player2 div button {
    transform: scaleX(-1);
}

.sprite-container div:hover button {
    display: inline-block;
}

.sprite-container:hover {
    width: 188px;
    z-index: 5;
}

.sprite-container:hover button {
    display: inline-block;
}

.sprite-container div:hover button.hidden {
    display: none;
}

.buttons-char {
    border-radius: 4px;
}

.buttons-char:hover {
    cursor: pointer;
    background: rgb(255, 123, 0);
    opacity: 1;
    transform: scale(1.02)
}

.overflow-wrapper {
cursor: pointer;
}

.add-button {
    display: block;
    background: orange;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 4px;
    width: 100%;
    margin: 8px auto 0;
}

.animated-character1 {
    animation: moveCharacters1 2.5s normal forwards
}

.animated-character2 {
    animation: moveCharacters2 2.5s normal forwards
}

.selectsprite {
    animation: selectscreen-animation 2.5s infinite;
    margin: 0 auto;
}

#battle-ticker,
#dialogue-box-wrapper {
    opacity: 0;
    transition: .5s;
    position: absolute;
    top: 3%;
    width: 40%;
    left: 28%;
    background: rgb(0, 0, 0, .5);
    min-height: 10%;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: .8rem;
    z-index: 11;
}

#battle-ticker {
    opacity: 1;
    display: none;
}

#dialogue-box-wrapper {
    background: white;
    color: black;
    position: relative;
    top: 20%;
    padding-bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

#dialogue-box {
    position: relative;
    z-index: 11;
}

#dialogue-box-triangle {
    position: absolute;
    bottom: -30px;
    right: 5%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid white;
    transform: rotate(-20deg);
}

#dialogue-animation {
    position: absolute;
    bottom: 5%;
    right: 45%;
    font-size: 20px;
    animation: dialogue-animation 1s infinite;
    z-index: 1;
}

.text-enemy {
    color: orange;
}

.text-player {
    color: lightskyblue;
}

.fade-out {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: transparent;
    z-index: 999;
    border-radius: 50%;
    border: 600px solid black;
    animation: fade-out-animation 2s forwards;
}

.fade-out-red {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: transparent;
    z-index: 999;
    border-radius: 50%;
    border: 600px solid red;
    animation: fade-out-animation-red 2s forwards;
}

#animated-pointer {
    animation: flickering-pointer .5s infinite;
}

.running {
    animation: running-animation .5s infinite;
}

.confetti {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    animation: falling-confetti 20s infinite;
    opacity: 0.5;
    border-radius: 50%;
    top: -20%;
    pointer-events: none;
}

.sprite-container.victory {
    animation: victoryAnimation 3s infinite;
}

.animated-text {
    animation: pulsingText 1s infinite;
}

button,
#bomb-button button,
#item-button button {
cursor: pointer;
}

.bombcloud {
    animation: risingCloud 2s;
    animation-direction: reverse;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green;
    opacity: 0.7;
    position: absolute;
}

.bombed-enemy {
    filter: grayscale(100%) sepia(100%) hue-rotate(90deg) blur(1px);
    transform: scaleX(-1) rotate(-10deg)!important;
}

#bomb-container-wrapper {
    animation: thrownBombX 1.5s forwards ease-in-out;
}

#bomb-container {
    animation: thrownBombY 1.5s forwards ease-in-out;
}

#itembox div button:hover {
    color: orange!important;
    transform: scale(1.1)
}

.eating-snack {
    animation: eating 1s forwards;
}

#sound-control-button {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    background: rgb(0, 0, 0, .6);
    color: white;
    transition: 0.3s all;
    opacity: 0.5;
}

#fullscreen-button {
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: none;
    background: rgb(0, 0, 0, .6);
    color: white;
    transition: 0.3s all;
    opacity: 0.5;
}

#sound-control-button:hover,
#fullscreen-button:hover {
    opacity: 1;
    background: orange;
    transform: scale(1.1);
}

@media screen and (min-width: 1024px){
    #game-wrapper {
        transform: scale(1.6);
    }
}



@keyframes moveCharacters1 {
    0% {
        transform: translateX(0px);
        z-index: 999
    }

    20% {
        transform: translateX(50px) rotate(10deg);
        z-index: 999
    }

    30% {
        transform: translateX(100px) rotate(-10deg);
        z-index: 999
    }

    40% {
        transform: translateX(150px) rotate(10deg);
        z-index: 999
    }

    45% {
        transform: translateX(150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    50% {
        transform: translateX(150px) rotate(-20deg);
        z-index: 999
    }

    55% {
        transform: translateX(150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    60% {
        transform: translateX(150px) rotate(-20deg);
        z-index: 999
    }

    65% {
        transform: translateX(150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    70% {
        transform: translateX(150px) rotate(-20deg);
        z-index: 999
    }

    75% {
        transform: translateX(150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    80% {
        transform: translateX(150px) rotate(-20deg);
        z-index: 999
    }

    85% {
        transform: translateX(150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    90% {
        transform: translateX(150px) rotate(-20deg);
        z-index: 999
    }

    99% {
        transform: translateX(150px);
        z-index: 999
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes moveCharacters2 {
    0% {
        transform: translateX(0px);
        z-index: 999
    }

    20% {
        transform: translateX(-50px) rotate(10deg);
        z-index: 999
    }

    30% {
        transform: translateX(-100px) rotate(-10deg);
        z-index: 999
    }

    40% {
        transform: translateX(-150px) rotate(10deg);
        z-index: 999
    }

    45% {
        transform: translateX(-150px) rotate(20deg);
        z-index: 999
    }

    50% {
        transform: translateX(-150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    55% {
        transform: translateX(-150px) rotate(-20deg);
        z-index: 999
    }

    60% {
        transform: translateX(-150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    65% {
        transform: translateX(-150px) rotate(-20deg);
        z-index: 999
    }

    70% {
        transform: translateX(-150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    75% {
        transform: translateX(-150px) rotate(-20deg);
        z-index: 999
    }

    80% {
        transform: translateX(-150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    85% {
        transform: translateX(-150px) rotate(-20deg);
        z-index: 999
    }

    90% {
        transform: translateX(-150px) translateY(5px) rotate(20deg);
        z-index: 999
    }

    99% {
        transform: translateX(-150px);
        z-index: 999
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes kickoutCharacters1 {
    0% {
        transform: translateX(0) rotate(-45deg);
    }

    10% {
        transform: translateX(-50px) translateY(10px) rotate(-90deg);
    }

    20% {
        transform: translateX(-100px) translateY(20px) rotate(-135deg);
    }

    30% {
        transform: translateX(-150px) translateY(30px) rotate(-180deg);
    }

    40% {
        transform: translateX(-200px) translateY(40px) rotate(-225deg);
    }

    50% {
        transform: translateX(-250px) translateY(50px) rotate(-270deg);
    }

    60% {
        transform: translateX(-300px) translateY(60px) rotate(-315deg);
    }

    70% {
        transform: translateX(-350px) translateY(70px) rotate(-360deg);
    }

    80% {
        transform: translateX(-400px) translateY(80px) rotate(-405deg);
    }

    100% {
        transform: translateX(-500px)
    }
}

@keyframes kickoutCharacters2 {
    0% {
        transform: translateX(0) rotate(45deg);
    }

    10% {
        transform: translateX(50px) translateY(10px) rotate(90deg);
    }

    20% {
        transform: translateX(100px) translateY(20px) rotate(135deg);
    }

    30% {
        transform: translateX(150px) translateY(30px) rotate(180deg);
    }

    40% {
        transform: translateX(200px) translateY(40px) rotate(225deg);
    }

    50% {
        transform: translateX(250px) translateY(50px) rotate(-90deg);
    }

    60% {
        transform: translateX(300px) translateY(60px) rotate(135deg);
    }

    70% {
        transform: translateX(350px) translateY(70px) rotate(180deg);
    }

    80% {
        transform: translateX(400px) translateY(80px) rotate(225deg);
    }

    100% {
        transform: translateX(500px)
    }
}


@keyframes selectscreen-animation {
    0% {
        transform: translateX(0) rotate(0deg)
    }

    25% {
        transform: translateX(10px) translateY(10px) rotate(10deg)
    }

    50% {
        transform: translateX(0px) translateY(0) rotate(0deg)
    }

    75% {
        transform: translateX(-10px) translateY(10px) rotate(-10deg)
    }


}

@keyframes dialogue-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out-animation {
    0% {
        z-index: 999;
        width: 800px;
        height: 800px;
    }
    40% {
        z-index: 999;
        width: 0;
        height: 0;
    }

    60% {
        z-index: 999;
        width: 0;
        height: 0;
    }

    100% {
        z-index: 999;
        width: 800px;
        height: 800px;
    }
}

@keyframes fade-out-animation-red {
    0% {
        opacity: 0;
        z-index: 9;
        width: 800px;
        height: 800px;
    }
    100% {
        opacity: 1;
        z-index: 9;
        width: 0;
        height: 0;
    }
}

@keyframes flickering-pointer {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes running-animation {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg)
    }
}

@keyframes falling-confetti {
    0% {
        top: -20%;
    }
    100% {
        top: 110%;
    }
}

@keyframes toggleTutorialSteps {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1
    }
    30% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes victoryAnimation {
    25% {
        transform: rotate(25deg) translateY(-20px)
    }
    50% {
        transform: rotate(0) translateY(0)
    }
    75% {
        transform: rotate(-25deg) translateY(-20px)
    }
    100% {
        transform: rotate(0) translateY(0)
    }
}

@keyframes pulsingText {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes risingCloud {
    0% {
        width: 50px;
        height: 50px;
        top: 100px;
    }
    100% {
        width: 0;
        height: 0;
        bottom: 0;
        top: 0;
    }
}

@keyframes thrownBombX {
    0% {
        right: 400px;
        bottom: 40px;
    }
    100% {
        right: 110px;
        bottom: 40px;
    }
}
@keyframes thrownBombY {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 50px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes eating {
    0% {
        transform: scale(1.1) rotate(5deg)
    }
    25% {
        transform: scale(0.9) rotate(-5deg)
    }
    50% {
        transform: scale(1.1) rotate(5deg)
    }
    75% {
        transform: scale(0.9) rotate(-5deg)
    }
    100% {
        transform: scale(1) rotate(0deg)
    }
}
